html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, select, textarea, option, address {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
	max-width: 100vw;
}

html, body{
  height: 100%;
  width: 100%;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
  width: 100%;
}

*{
  font-family: 'Poppins', sans-serif;
}

body{
  overflow-x: hidden;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
}

.container-expertise{
  max-width: 990px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

.text-white{
  color: #fff;
}

.text-yellow{
  color: #ffe600;
}

.yellow-button{
  background-color: #FFE604;
  padding: 0 2.3rem;
  height: 4rem;

  font-weight: 700;
  font-size: 1.25rem;

  border: none;
  border-radius: 3.75rem;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  transition: transform 200ms;
  cursor: pointer;
}

.yellow-button > img{
  width: 2rem;
}

.yellow-button:hover{
  transform: scale(1.1);
}

.cases-and-projects-button{
  background-color: #FFE604;
  padding: 0 0.9rem;
  height: 3rem;
  margin-bottom: 0.7rem;

  font-weight: 400;
  font-size: 1.25rem;

  border: none;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  cursor: pointer;
}

.cases-and-projects-button > img{
  width: 2rem;
}

.top{
  background-image: url(../assets/img/background-top.png);  
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.navbar{
  display: flex;
  justify-content: space-between;

  padding: 3.1rem 2.5rem 0 2.5rem;
}

.navbar > p{
  font-weight: 900;
  font-size: 1.87rem;
  line-height: 1.62rem;
}

.navbar > div > img{
  width: 1.56rem;
}

.top > div:last-child{
  display: flex;
  align-items: center;
  
  height: 85%;
}

.top > div > p{
  font-weight: 900;
  font-size: 3.4rem;
  line-height: 3.75rem;
}

.who-we-are{
  background-color: #FFE604;
}

.who-whe-are-title{
  font-weight: 400;
  font-size: 3.75rem;
  color: #FFC804;

  padding: 6rem 0 4rem 30rem;
  
  overflow: hidden;
  display: flex;
}

.who-whe-are-title > span{
  font-weight: 900;
}

.who-we-are-content{
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 5.3rem;
}

.who-we-are-content > div{
  flex: 1;
}

.who-we-are-content > div:first-child{
  text-align: center;
}

.who-we-are-content > div > img{
  width: 10rem;
}

.who-we-are-content > div:first-child > p{
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.5rem;
}

.who-we-are-content > div:first-child > p > mark > span{
  font-weight: 800;
}

.who-we-are-content > div > p > mark{
  background-color: #1c1c1c;
}

.who-we-are-content > div:last-child > h2{
  font-weight: 800;
  font-size: 1.9rem;

  text-transform: uppercase;
  padding-bottom: 1rem;
}

.who-we-are-content > div:last-child > p{
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2.2rem;

  padding-bottom: 2.2rem;
}

.who-we-are-content > div:last-child > a{
  font-weight: 700;
  font-size: 1.5rem;

  color: #000;
}

.areas-of-expertise > h2{
  font-weight: 300;
  font-size: 3.125rem;
  line-height: 4.125rem;

  text-align: center;
  padding: 1.8rem 0;
}

.areas-of-expertise > h2 > strong{
  font-weight: 800;
  font-size: 3.125rem;
  line-height: 4.125rem;
}

.areas-flex{
  display: flex;
  gap: 1.8rem;

  padding-bottom: 1.87rem;
}

.areas-flex > figure{
  position: relative;
}

.areas-flex > figure > figcaption{
  position: absolute;
  top: 2.18rem;
  left: 2.18rem;
}

.box-1 > figure:first-child > img,
.box-2 > figure:last-child > img{
  width: 18.7rem;
  height: 18.7rem;
}

.box-1 > figure:last-child > img,
.box-2 > figure:first-child > img{
  height: 18.7rem;
}

.box-1 > figure > figcaption > div > img,
.box-2 > figure > figcaption > div > img{
  width: 8.1rem;
  padding-bottom: 1rem;
}

.box-1 > figure > figcaption > div > p,
.box-2 > figure > figcaption > div > p{
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 75%;

  padding-bottom: 2rem;
}

.box-1 > figure > figcaption > div > a,
.box-2 > figure > figcaption > div > a{
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000;
}

.vertical-box{
  padding: 3.125rem;

  display: flex;
}

.box{
  width: 50%;
  height: 4.75rem;
  
  flex: 1;
}

.vertical-line{
  border-left: 1px solid #000;
}

.video{
  padding: 3.125rem 0;
}

.group-1{
  width: 25rem;
  
  margin: 0 auto;
  padding: 1.25rem 0;
}

.cases-and-projects{
  background-image: url(../assets/img/clouds\ 1.png);
  background: no-repeat;
}

.cases-aplication{
  display: flex;
  justify-content: space-between;
}

.cases-aplication > div > button{
  width: 4rem;
  height: 4rem;

  color: #fff;
  font-weight: 700;
  font-size: 2.75rem;
  text-align: center;

  background-color: #000;
}

.cases-and-projects > h1,
.cases-and-projects > h1 > strong{
  text-align: center;

  font-size: 3.125rem;
  line-height: 4.125rem;
}

.cases-and-projects > h1 > strong{
  font-weight: 800;
}

.cases-and-projects > h1{
  font-weight: 300;

  padding-top: 5rem;
  padding-bottom: 3.1rem;
}

.cases-content > div:first-child{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;

  padding: 2.5rem 0;
}

.cases-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 3.125rem;
}

.cases-information,
.cases-img{
  flex: 1;
}

.cases-information > h2{
  font-weight: 800;
  font-size: 2.24rem;
  line-height: 2.87rem;
  text-transform: uppercase;

  padding-bottom: 1.4rem;
}

.cases-information > p{
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2.18rem;
}

.cases-img > img{
  width: 33rem;
}

.cases-button{
  padding: 3.75rem 0;
  text-align: center;
}

.cards-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cards-grid > figure{
  height: 30rem;

  transition: transform 200ms, filter 200ms ease-in-out;
  position: relative;
}

.cards-grid > figure > img{
  height: 100%;
  filter: brightness(70%);
}

.cards-grid > figure:hover{
  transform: scale(1.1);
  z-index: 2;
}

.cards-grid > figure > img:hover{
  filter: none;
}

.cards-grid > figure > figcaption{
  position: absolute;
  left: 1.87rem;
  bottom: 3.6rem;

  color: #fff;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-shadow: #000 0 0.25rem 0.87rem
}

.clients{
  background-color: #FFFFE4;
}

.clients-flex{
  display: flex;
  gap: 3.43rem;
  padding: 4rem 0;

  align-items: center;
  justify-content: center;
}

.clients-flex > div{
  flex: 1;
}

.clients-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.clients-flex > div > h3{
  color: #D80404;

  font-weight: 300;
  font-size: 1.87rem;

  padding-bottom: 1.4rem;
}

.clients-flex > div > p{
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5rem;

  padding-bottom: 1.87rem;
}

.clients-flex > div > a{
  color: #000;

  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.contact-us{
  background-color: #DF5E00;
}

.contact-us-content{
  padding: 4.37rem 0;
}

.contact-us-flex{
  display: flex;
  justify-content: center;
}

.contact-us-flex > div:last-child{
  padding-top: 3.5rem;
}

.contact-us-content div > div > h2{
  font-weight: 800;
  font-size: 4.37rem;
  line-height: 4.37rem; 
}

.contact-us-content > p{
  padding: 4rem 0 2.125rem;

  text-align: center;
  font-weight: 300;
  font-size: 1.87rem;
  line-height: 2.5rem;
  word-spacing: 1rem;
  letter-spacing: 0.2rem;
}

.contact-touch{
  width: 5.62rem;
  margin: 0 auto;
}

footer{
  background-color: #222;
  color: #fff;
}

.footer-content{
  padding: 3.75rem 0;
}

.footer-info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  padding: 3.125rem 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.footer-contact,
.footer-navigation{
  flex: 1;
}

.footer-contact-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 6.5rem;
}

.footer-contact > div > h2,
.footer-contact > div > h2 > strong{
  font-size: 3.75rem;
  font-weight: 900;
}

.contacts > a{
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;

  display: block;
}

.footer-contact-container > a{
  color: #FFE604;
  font-weight: 300;
  font-size: 1.5rem;
}

small{
  font-weight: 300;
  font-size: 0.87rem;
  line-height: 1.375rem;
}

.footer-navigation nav > ul > li{
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.footer-navigation nav > div{
  padding-top: 1rem;
}

.footer-navigation nav > div > a{
  width: 3.18rem;
  padding-right: 0.75rem;
}

.footer-copyright{
  text-align: center;

  padding: 1rem 0;
  border-bottom: 1px solid #333;
}